NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDO-YX8PoKWofKoo6_lrLeBDReTpc3XXCE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=founderflow-60e46.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=founderflow-60e46
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=founderflow-60e46.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1073418675310
NEXT_PUBLIC_FIREBASE_APP_ID=1:1073418675310:web:45b30fb874d58f4a61f27f
GEMINI_API_KEY=AIzaSyCfZcYX7a5GueoFecQvsU0BVm3VrPRcm04